# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: spring-boot-delpoyment-demo

on:
  push: 
   branches: [master]
  pull_request:
   branches: [master]
  release:
    types: [created]
jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Build
      run: mvn clean package install

    - name: Test
      run: mvn test
      
  docker:
   runs-on: ubuntu-latest
   steps:
    - name: Docker Login
      uses: docker/login-action@v3
      with:
       username: ${{ secrets.DOCKERHUB_USERNAME }}
       password: ${{ secrets.DOCKERHUB_TOKEN }}
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Validate build configuration
      uses: docker/build-push-action@v6
      with:
       call: check

    - name: Image Push
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: pavankalyan0499/deployment-demo:1.0.0-RELEASE
